.message {
  line-height: 1.7rem;

  & p,
  pre {
    display: inline;
    margin: 0;
  }

  .table_wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }

  table {
    margin: 0.5rem 0;
    border-collapse: collapse;
  }

  table,
  td,
  th {
    border: none;
    padding: 0.5rem;
  }

  td {
    text-align: start;
  }

  .center {
    text-align: center;
  }

  .time {
    width: 28%;
  }
}
